* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3e65fe;
}
.logo-box {
  background-color: #fff;
  padding: 30px 120px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
}
.logo {
  width: 30px;
  margin-bottom: 20px;
}
.logo-box h2 {
  margin-bottom: 20px;
}
.logo-box button img {
  width: 18px;
}
.logo-box button .logo2{
    width: 35px;
}
.logo-box button {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #999;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
}
.logo-box span{
    display: block;
    width: 40px;
    margin: auto;
    background-color: #fff;
    font-size: 14px;
    margin-top: -10px;
}
.logo-box input{
    width: 100%;
    background-color: transparent;
    border: 1px solid #999;
    outline: 0;
    padding: 10px;
    border-radius: 4;
    margin-bottom: 10px;
    border-radius: 5px;
}
::placeholder{
    font-weight: 500;
    color: #333;
}
.logo-box form button{
    background-color: #000;
    color: #fff;
    border: 0;
    margin-bottom: 10px;
}
.logo-box p a{
    text-decoration: none;
    color: #3e65fe;
    margin-left: 50px;
}